@{
  Layout = "_Layout";
}

@model Product.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.ProductName)
    @Html.TextBoxFor(model => model.ProductName)

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>