@* @{
  Layout = "_Layout";
} *@

@model Product.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.ProductName): @Html.DisplayFor(model => model.ProductName)</h3>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not have any flavors</p>
}
else
{
  <h4>Flavors available:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.FlavorType</li>

  }
  </ul>
}

@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
}

<p>@Html.ActionLink("Back to treats", "Index")</p>
