@{
  Layout = "_Layout";
} 

@model Product.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.ProductName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.ProductName)
    @Html.EditorFor(model => model.ProductName)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>