@{
  Layout = "_Layout";
}

@model Product.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.FlavorType)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorType)
  @Html.EditorFor(model => model.FlavorType)

  @Html.Label("Select a treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>